ul{
    background-color: chartreuse;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: black;
    
}

li{
    list-style-type: none;
    display: inline;
    background-color: aqua;
}
.outer{
    background-color: blue;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    background-color: yellowgreen;
    width: 100px;
    height: 100px;

}