body{
    text-align: center;
}
div{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 2px solid black;

}
#container {
    width: 800px;
    height: 200px;
    
    
}
#box1{
    background-color: aqua;  
}
#box2{
    background-color: greenyellow;
}
#box3 {
    background-color: deeppink;
}
#box4 {
    background-color: red;
}
#box5 {
    background-color: blue;
}